@font-face {
  font-family: "Roboto Condensed";
  src: url(../font/Roboto-Condensed.ttf);
}

body {
  font-size: 24px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

.header-section {
  display: flex;
}

.header-section_nav {
  width: 30%;
  background: #7acec3 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='100%' y2='0' stroke='#fff' stroke-width='2'/></svg>") no-repeat;
  color: #ffffff;
  > div {
    display: flex;
    flex-direction: column;
    padding: 10% 8% 0;
    .fa-bars {
      padding: 9% 10%;
      border: 2px solid #ffffff;
      margin: auto;
    }
    p {
      width: 35%;
      font-size: 0.71em;
      margin-top: 10%;
    }
  }
  & div:nth-child(2) p {
    align-self: center;
  }
}

.hover-nav {
  width: 45%;
  display: none;
  position: absolute;
  right: 11%;
  background-color: #f8c255;
  ul {
    li {
      display: inline-block;
      padding: 7% 2%;
      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 0.8em;
        &:hover {
          color: #7acec3;
        }
      }
      .fa-times {
        border: none;
      }
      &:last-of-type {
        padding: 0;
      }
    }
  }
}
.active {
  display: block;
}

.header-section_logo{
  width: 70%;
  background: #e9eae2 url("../images/section1/chair.png") no-repeat right;
}

.logo {
    padding: 5% 0 7% 10%;
    width: 25%;
    p {
      width: 10%
    }
    ul {
      margin-top: 10%;
      li {
        display: inline-block;
        a {
          color: #7acec3;
          font-size: 0.83em;
          padding: 0 15%;
          &:hover {
            color: #368ACE;
          }
        }
      }
    }
  }

.footer-section {
  display: flex;
  .footer-section_map {
    width: 50%;
  }
  .footer-section_info {
    width: 50%;
    background-color: #e9eae2;
    padding-top: 7%;
    .logo {
      display: inline-block;
      padding: 0 10% 7% 30%;
      vertical-align: top;
    }
    .info {
      display: inline-block;
      width: 25%;
      padding-left: 7%;
      p {
        margin-bottom: 10%;
        font-size: 0.8em;
      }
    }
    > p {
      font-size: 0.5em;
      margin: 4% 1% 6% 7%;
    }
  }
}

.section_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div:first-child {
    font-weight: 300;

    > ul li span {
      color: #333333;
      font-size: 0.5em;
    }

    > ul li span:first-child {
      font-weight: bold;
    }
  }

  > div:first-child + div {
    font-size: 0.75em;
    font-weight: 300;

    i {
      color: #ebb240;
    }
    span {
      color: #333333;
      margin-left: 5px;
    }
  }
  > div:last-child span {
    display: block;
    color: #ff0000;
    font-size: 0.46em;
    font-weight: 300;
  }
}

.section_2 {
  display: flex;

  > div:first-child {
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    > div:first-child {
      background: #ebb240 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='100%' y2='0' stroke='#ffffff' stroke-width='2'/></svg>") no-repeat;
      width: 45%;

      > div {
        padding: 50% 0 0 25%;

        > span {
          display: block;
          padding: 20% 0 40% 30%;
          font-size: 2em;
          font-weight: 400;
          color: #fefefe;
        }

        > div {
          color: #ffffff;
          font-size: 0.54em;
          font-weight: 400;
          display: flex;

          ul {
            margin-left: 1%;
          }
          li:first-child {
            color: #000000;
          }
        }
      }
    }

    > div:first-child + div {
      background: #ffffff url("../images/section_2/img_1.png") no-repeat 100% 10%;
      width: 55%;

      > div {
        padding: 10% 40% 0 0;
        flex-direction: column;
        height: 60%;
      }
    }

    > div:first-child + div + div {
      background: #566a75 url("../images/section_2/img_2.png") no-repeat 100%;
      width: 25%;

      > div {
        padding: 15% 40% 95% 5%;
        flex-direction: column;
        height: 50%;
      }
    }

    > div:last-child {
      background: #eaeaea url("../images/section_2/img_3.png") no-repeat 20% 40%;
      width: 75%;

      > div {
        padding-top: 10%;
        padding-left: 50%;
      }
    }
  }

  > div:last-child {
    width: 30%;
    display: flex;
    flex-direction: column;

    > div:first-child {
      background: #dfe0d9 url(../images/section_2/img_4.png) no-repeat 90% 30%;
      padding: 10% 0 10% 10%;

      > div {
        flex-direction: column;
        width: 40%;

        > div {
          margin-bottom: 10px;
        }

        > div:first-child {
          > span {
            display: block;
          }

          > span:first-child {
            margin-bottom: 9px;
          }

          > span:first-child + span, > p {
            font-size: 0.5em;
            font-weight: 300;
          }

          > span:first-child + span {
            font-weight: bold;
          }
        }
      }
    }

    > div:first-child + div {
      background: #e9eae2 url("../images/section_2/img_5.png") no-repeat 50% 10%;
      padding: 75% 0 10%;

      > div {
        width: 70%;
        margin: 0 20%;
      }
    }

    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    > div:last-child {
      background: #ffffff url("../images/section_2/img_6.png") no-repeat 10%;

      > div {
        flex-direction: column;
        padding: 10% 0 10% 45%;
      }
    }

    /*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
  }
}

.section_3 {
  display: flex;

  > div:first-child {
    background: #fcfcfc url("../images/section_3/img_1.png") no-repeat 50% 10%;
    width: 50%;

    > div {
      padding: 25% 22% 2%;
    }
  }

  > div:first-child + div {
    background: #cecece url("../images/section_3/img_2.png") no-repeat 0 50%;
    width: 20%;

    > div {
      padding: 30% 0 0 50%;
      flex-direction: column;
      height: 60%;

      > div:first-child + div {
        margin-right: 23%;
      }
    }
  }

  > div:last-child {
    background: #ebb240 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='50%' y2='0' stroke='#ffffff' stroke-width='2'/></svg>") no-repeat;
    width: 30%;

    > div {
      padding: 10% 0 0 20%;

      > span {
        margin-left: 3%;
        font-size: 0.59em;
        font-weight: 400;
      }

      > div {
        color: #ffffff;
        font-size: 0.54em;
        font-weight: 400;
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-section_logo {
    background-position-x: 45%;
  }
  .hover-nav {
    width: 60%;
    ul li {
      padding: 6% 2%;
    }
  }
  .footer-section {
    .footer-section_info {
      .logo {
        padding: 0 0 7% 20%;
      }
    }
  }
  .logo {
    width: 30%;
  }
}

@media (max-width: 960px) and (min-width: 769px) {
  body {
    font-size: 26px;
  }

  .header-section_logo {
    width: 60%;
  }

  .header-section_nav {
    width: 40%;
    & div:nth-child(2) p {
      margin-bottom: 5%;
    }
  }

  .hover-nav {
    width: 75%;
  }
  .logo {
    width: 35%;
  }

.section_2 {
  display: block;
  > div:first-child {
    width: 100%;
    > div:first-child {
      width: 50%;
    }
    > div:first-child + div {
      width: 50%;
    }
    > div:first-child + div +div {
      width: 50%;
      background-position-x: 100%;
      > div {
        padding: 15% 8% 48% 5%;
      }
    }
    > div:last-child {
      width: 50%;
      background-position-y: 100%;
    }
  }
  > div:last-child {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    > div:first-child {
      width: 47%;
      padding: 5% 0 0 3%
    }
    > div:first-child + div {
      width: 50%;
      padding: 40% 0 5%;
    }
    > div:last-child {
      width: 100%;
    }
  }
}

.section_3 {
  & div:first-child div {
    padding: 45% 22% 2%;
  }
}
}

@media (max-width: 768px) {
  body {
    font-size: 30px;
  }

  .header-section {
    flex-direction: column;
  }

  .header-section_logo {
    width: 100%;
  }

  .header-section_nav {
    background: #7acec3;
    width: 100%;
    > div {
      padding: 2%;
      .fa-bars {
        margin: 0;
        align-self: flex-end;
        padding: 3%;
      }
      p {
        display: none;
      }
    }
    > div:last-child {
      display: none;
    }
  }

  .hover-nav {
    width: 100%;
    right: 0;
    top: 30%;
    ul li {
      display: block;
      text-align: center;
    }
    ul li:last-of-type {
      display: inline;
      position: absolute;
      left: 90%;
      top: 5%;
    }
  }

  .section_2 {
    flex-wrap: wrap;
    > div:first-child {
      width: 100%;
      > div:first-child {
        width: 100%;
        > div {
          padding: 2%;
          > span {
            padding: 2% 0 2% 65%;
          }
        }
      }
      > div:first-child + div {
        width: 100%;
        padding: 10%;
      }
      > div:first-child + div +div {
        width: 100%;
        > div {
          padding: 20%;
          align-items: flex-start;
        }
      }
      > div:last-child {
        width: 100%;
        padding: 10% 5% 15% 15%;
        background-position-x: 0;
      }
    }
    > div:last-child {
      width: 100%;
      > div:first-child + div {
        padding-top: 40%;
      }
    }
  }

  .section_3 {
    display: flex;
    flex-wrap: wrap;
    > div:first-child {
      width: 100%;
    }
    > div:first-child + div {
      width: 75%;
      > div {
        padding: 15% 0 3% 50%;
      }
    }
    > div:last-child {
      width: 25%;
      background: #ebb240 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='100%' y2='0' stroke='#ffffff' stroke-width='2'/></svg>") no-repeat;
      > div {
        padding: 10% 0 0 20%;
      }
    }
  }

  .footer-section {
    flex-wrap: wrap;
    .footer-section_map {
      width: 100%;
      height: 400px;
    }
    .footer-section_info {
      width: 100%;
      .logo {
        padding: 0 0 7% 30%;
      }
  }
  }
}

@media (max-width: 480px) {
  body {
    font-size: 34px;
  }

  .header-section_logo {
    width: 100%;
    background: #e9eae2;
    order: 1;
  }

  .logo {
    width: 50%;
    margin: auto;
  }

  .header-section_nav {
    order: 0;
  }

  .hover-nav {
    top: 0;
  }
  .section_2 {
    display: block;
    > div:first-child {
      > div:first-child {
        > div{
          > span {
            padding: 0;
            text-align: right;
            font-size: 1.5em;
          }
        }
      }
      > div:first-child + div {
        padding: 8% 4%;
        background-position-x: 100%;
        background-position-y: 90%;
      }
      > div:first-child + div +div {
        > div {
          padding: 10% 10% 40% 10%;
        }
      }
      > div:last-child {
        > div {
          padding: 0;
        }
      }
    }
    > div:last-child {
      > div:first-child {
        padding: 5%;
        > div {
          > div {
            line-height: 0.6em;
          }
        }
      }
      > div:first-child + div {
        background-position-y: 0;
        background-position-x: 100%;
        padding-top: 0;
        > div {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 67% 7% 0;
        }
      }
      > div:last-child {
        background-position-x: 0;
        background-position-y: 50%;
        > div {
          background-position-x: 0;
          background-position-y: 50%;
        }
      }
    }
  }
  .section_3 {
    > div:first-child {
      > div {
        padding: 50% 6% 2%;
      }
    }
    > div:first-child + div {
      width: 100%;
      > div {
        padding: 15% 0 7% 40%;
      }
    }
    > div:last-child {
      width: 100%;
      > div {
        padding: 5% 0 15% 10%;
      }
    }
  }
  .footer-section {
    .footer-section_info {
      .info {
        display: block;
        width: 100%;
        padding: 0;
        p {
          margin: 5%;
        }
      }
      .logo {
        padding: 0 0 0 25%;
        width: 50%;
      }
    }
  }
}



